<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="thumbnail" style="background-color: transparent; border-style: none">
      <img src="<%= 'https://cdn.iconscout.com/public/images/icon/premium/png-512/jukebox-music-retro-equipment-32514fe35b4f5903-512x512.png' %>">
    </a>
    <h1>Jukebox</h1>
    <p>Welcome to the party</p>
<!--     <a type="button" class="btn btn-lg btn-default" href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a>
    <a type="button" class="btn btn-lg btn-primary" href="#"><span class="glyphicon glyphicon-search"></span> Search</a> -->
    <input type="text" class="form-control" placeholder="Search ðŸ”" />
  </div>
</div>
<div class="container">
  <!-- <div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-ruby" class="alert-link">Getting Started with Ruby on Heroku</a> tutorial.
  </div> -->
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How Jukebox works</h3>
      <ul>
        <li>This promo app was deployed to Heroku, either using Git or by using <a href="https://github.com/heroku/ruby-getting-started">Heroku Button</a> on the repository.</li>
      </ul>
    </div>
  </div> 
</div>
