$brand-primary: #33ccff;
$brand-language: #ff99cc; 

.jumbotron {
  background: linear-gradient(to bottom right, $brand-language 30%,  $brand-primary 100%);
  color: white;
  padding-bottom: 80px;

  .btn-primary {
    background: lighten($brand-primary, 20%);
    border-color: lighten($brand-primary, 20%);
    &:hover {
      background: lighten($brand-primary, 15%);
    }
  }

  p {
    color: lighten($brand-primary, 50%);
    max-width: 75%;
    margin: 1em auto 2em;
  }

  .navbar + & {
    margin-top: -20px;
  }

  .lang-logo {
    display: block;
    background: $brand-language;
    border-radius: 50%;
    overflow: hidden;
    width: 1em;
    height: 1em;
    margin: auto;
    border: 2px solid white;
    img {
      max-width: 100%;
    }
  }

}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #33ccff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a:hover {
    color: #ff99cc;
}

span.glyphicon-cog {
  padding-top: 15px;
  padding-left: 10px;
  font-size: 40px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px;
    margin-left: 50px;
}



